.first{
    color: red;
}

.second{
    color: blue;
}

#seconddiv{
    color: rgb(110, 3, 139);
}

#thirddiv{
    color: rgb(72, 154, 2);
}

.third{
    color: blueviolet;
}

.three{
    color: red;
}

