* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 60vh;
    width: 20vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.img {
    height: 40%;
    width: 100%;
    margin-bottom: 10px;
}

.img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.content{
    margin-top: 10px;
    height: 55%;
    width: 100%;
}

.smlbuttons{
    padding: 5px;
    font-size: 10px;
    margin: 0 5px;
    color: rgb(127, 126, 126);
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}

div h3{
    margin: 10px 3px;
}

div p{
    margin: 0 3px;
    margin-bottom: 10px;
    color: rgb(127, 126, 126);
}

.button{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: #93abd8;
    padding: 7px;
    font-size: 15px;
    margin: 0 5px;
    color: rgb(3, 0, 213);
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}