p{
    background-color: aqua;
}

a{
    background-color: rgb(235, 107, 107);
}

div{
    background: rgb(172, 118, 227);
}

span{
    background: rgb(68, 225, 125);
}

.formm{
    background: white;
}